<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="10" parallel="true">
	<listeners>
		<listener class-name="basetest.BaseTest" />
	</listeners>
	<test name="Test" thread-count="10">
		<classes>
			<!-- <class name="alerts.AlertTest"/> -->
			<class name="multiplewindow.MultipleWindowTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->